# Project exclude paths
/out/
/target/
/src/main/webapp/WEB-INF/lib/aopalliance-1.0.jar
/src/main/webapp/WEB-INF/lib/commons-lang-2.6.jar
/src/main/webapp/WEB-INF/lib/commons-logging-1.2.jar
/logs/debug.log
/logs/info.log
/src/main/webapp/WEB-INF/lib/joda-time-2.9.2.jar
/src/main/webapp/WEB-INF/lib/jstl-1.2.jar
/src/main/webapp/WEB-INF/lib/logback-classic-1.2.5.jar
/src/main/webapp/WEB-INF/lib/logback-core-1.2.5.jar
/src/main/webapp/WEB-INF/lib/postgresql-9.4.1212.jre7.jar
/src/main/webapp/WEB-INF/lib/sitemesh-3.0.1.jar
/src/main/webapp/WEB-INF/lib/slf4j-api-1.7.31.jar
/src/main/webapp/WEB-INF/lib/spring-aop-4.2.5.RELEASE.jar
/src/main/webapp/WEB-INF/lib/spring-beans-4.2.5.RELEASE.jar
/src/main/webapp/WEB-INF/lib/spring-context-4.2.5.RELEASE.jar
/src/main/webapp/WEB-INF/lib/spring-context-support-4.2.5.RELEASE.jar
/src/main/webapp/WEB-INF/lib/spring-core-4.2.5.RELEASE.jar
/src/main/webapp/WEB-INF/lib/spring-expression-4.2.5.RELEASE.jar
/src/main/webapp/WEB-INF/lib/spring-web-4.2.5.RELEASE.jar
/src/main/webapp/WEB-INF/lib/spring-webmvc-4.2.5.RELEASE.jar
/src/main/webapp/WEB-INF/lib/thumbnailator-0.4.8.jar
/src/main/webapp/media/avatar/
/src/main/webapp/media/certificates/
/.jpb/
/.idea/
/src/main/webapp/WEB-INF/lib/
/.idea/
/.jpb/
/src/main/webapp/media/

